.form {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  width: fit-content;
  padding: 30px;
  height: 100px;
  background-color: #dadada;
  border-radius: 10px;

  input {
    margin-left: 10px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid green;
  }

  &__submit {
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
      background-color: #fff;
    }
  }

  &__path-input {
    width: 30vw;
  }
}
