.form {
  display: flex;
  justify-content: center;
  padding: 30px 20px 0 20px;
  column-gap: 30px;
  width: fit-content;
  height: 100px;
  background-color: #dadada;
  border-radius: 10px;

  .column-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    padding-left: 10px;
  }

  .row-container {
    display: flex;
    justify-content: flex-start;
    height: 100%;
  }

  input {
    display: flex;
    height: 30px;
    border-radius: 10px;
    border: 1px solid green;
    padding: 0 10px;
    outline: none;
  }

  p {
    color: #bf1650;
    font-size: 12px;
  }

  &__submit {
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
      background-color: #fff;
    }
  }

  &__path-input {
    width: 30vw;
  }

  .error {
    border: 1px solid #bf1650;
  }
}
