.button {
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid green;

  &:hover {
    cursor: pointer;
    background-color: #fff;
  }
}
